.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.node{
  border: .5px solid grey;
  padding: 10px 50px;
  margin: 10px 50px;
  display: inline-block;
  background-color: #61dafb;
  color: #282c34;
  vertical-align: top;
  text-align: left;
  border-radius: 20px;
  cursor: pointer;
}

.node:hover{
  background-color: white;
  color: #61dafb;
  transform: scale(1.1);
}

.last-nodes:hover{
  background-color: white;
  color: blue;
  cursor: default;
  transform: scale(1.1);
}

.last-nodes{
  display: block;
}

.tree-of-nodes{
  border: .5px solid grey;
  margin: 20px;
  display: none;
  background-color: #282c34;
  color: white;
  vertical-align: top;
  text-align: left;
}

.level{
  border: .5px solid grey;
  background-color: #282c34;
  color: white;
}

.hide{
  display: none;
}

.level-label{
  margin: 0px 10px;
}